body { background: #bfe68c; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 58px; display: flex; }
.block-product-0 { color: #e4f9ab; font-size: 14px; margin-bottom: 5px; }
.block-payment-1 { color: #21da6a; font-size: 21px; margin-bottom: 5px; }
.block-payment-2 { color: #51e40b; font-size: 15px; margin-bottom: 5px; }
.block-order-3 { color: #ba1e1c; font-size: 21px; margin-bottom: 5px; }
.block-invoice-4 { color: #873cf; font-size: 18px; margin-bottom: 5px; }